/* App unique CSS */
.primary-linear {
  background-image: linear-gradient(
    290deg,
    rgb(255, 255, 255) 50%,
    rgb(54, 133, 207) 50%
  );
}
.card {
  background: #ed213a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #93291e,
    #ed213a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #93291e,
    #ed213a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 12rem;
  cursor: pointer;
  will-change: transform, opacity;
}
.card-flip {
  background: #706869; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #830505
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e97070,
    #790909
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 12rem;
  cursor: pointer;
  will-change: transform, opacity;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.h-container {
  min-height: 102vh;
}
.h-layout {
  min-height: 40rem;
}
/* Color */

.bg-white {
  background-color: white;
}
.white {
  color: white;
}
.red {
  color: red;
}
.bg-black {
  background-color: black;
}
.bg-gray {
  background-color: rgb(107, 107, 107);
}
.black {
  color: black;
}
.bg-primary {
  background-color: rgb(54, 133, 207);
}
.primary {
  color: rgb(54, 133, 207);
}
.bg-secondry {
  background-color: rgb(97, 208, 236);
}
.secondry {
  color: rgb(97, 208, 236);
}
/* Height & Width */
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.h-0 {
  height: 1rem;
}
.h-1 {
  height: 2rem;
}
.w-1 {
  width: 2rem;
}
.h-2 {
  height: 4rem;
}
.w-2 {
  width: 4rem;
}
.h-3 {
  height: 6rem;
}
.w-3 {
  width: 6rem;
}
.h-4 {
  height: 8rem;
}
.w-4 {
  width: 8rem;
}
.h-5 {
  height: 10rem;
}
.w-5 {
  width: 10rem;
}
.h-6 {
  height: 12rem;
}
.w-6 {
  width: 12rem;
}
.h-7 {
  height: 14rem;
}
.w-7 {
  width: 14rem;
}
.h-10 {
  height: 20rem;
}
.w-10 {
  width: 20rem;
}

/* / Mouse Property  */
.cursor-pointer {
  cursor: pointer;
}

/* Radius */
.shadow-md {
  box-shadow: 10px 10px 20px rgb(233, 233, 233);
}
.rounded {
  border-radius: 2%;
}
.circle {
  border-radius: 50%;
}

/* // Pading */
.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-0 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-10 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.p-2 {
  padding: 2rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pt-4 {
  padding-top: 4rem;
}
.pt-6 {
  padding-top: 6rem;
}
/* Margin */
.m-2 {
  margin: 1rem !important;
}
.mt-2 {
  margin-top: 2rem !important;
}
.mt-4 {
  margin-top: 4rem !important;
}
.border-2 {
  border-style: solid;
  border-width: 2px 2px;
  border-color: rgb(54, 133, 207);
}

/* Font CSS */

.font-sm {
  font-size: 12px;
}
.font-md {
  font-size: 16px;
}
.font-lg {
  font-size: 20px;
}
.monospace {
  font-family: monospace;
}
